.myButton {
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid #303836;
    display: inline-block;
    cursor: pointer;
    color: #303836;
    font-family: Montserrat Medium;
    font-size: 2vh;
    font-weight: bold;
    padding: 1.2vh 2.4vh;
    text-decoration: none;
}

.myButton:hover {
    background-color: #4a4b4b;
    color: #ffffff;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.social_media {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    padding: 0% 0%;
    border-radius: 25%;
    width: 5vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.social_media:hover {
    background-color: #4a4b4b;
}

.social_media:active {
    position: relative;
    top: 1px;
}

.button1 {
    width: 100%;
}

.center {
    position: absolute;
    top: 80.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.inner
{
    float:left;
}

